Repository IgorGanapolsky/agent-web-scraper, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yourusername, @team/core, @team/qa, @team/docs, @team/devops

.github/CODEOWNERS:

# Default owners for everything in the repo
*       @yourusername

# Core code owners
/app/core/            @yourusername @team/core
/tests/               @yourusername @team/qa

# Documentation
/docs/                @yourusername @team/docs
README.md             @yourusername @team/docs
CONTRIBUTING.md       @yourusername @team/docs
CHANGELOG.md          @yourusername @team/docs

# Configuration files
/.github/             @yourusername @team/devops
/Makefile             @yourusername @team/devops
/requirements*.txt    @yourusername @team/devops

Add daily metrics tracking integration to Reddit scraper
  app/utils/metrics.py
  reddit_scraper.py
Owners: @yourusername

Add daily metrics tracking integration to Reddit scraper
  app/utils/metrics.py
  reddit_scraper.py
Owners: @yourusername

Remove duplicate log_daily_metrics function
  app/utils/top_insights.py
  reddit_scraper.py
Owners: @yourusername

Remove duplicate log_daily_metrics function
  app/utils/top_insights.py
  reddit_scraper.py
Owners: @yourusername

Add daily email digest functionality
  app/utils/email_digest.py
  reddit_scraper.py
Owners: @yourusername

Add daily email digest functionality
  app/utils/email_digest.py
  reddit_scraper.py
Owners: @yourusername

Fix formatting for Reddit API client
  app/core/reddit_api.py
  pyproject.toml
Owners: @yourusername, @team/core

Fix formatting for Reddit API client
  app/core/reddit_api.py
  pyproject.toml
Owners: @yourusername, @team/core

Add Reddit API credentials to .env.template
  .env.template
Owners: @yourusername

Add Reddit API credentials to .env.template
  .env.template
Owners: @yourusername

Add GPT-4 integration for Reddit comment analysis
  app/core/llm_client.py
  reddit_scraper.py
Owners: @yourusername, @team/core

Add GPT-4 integration for Reddit comment analysis
  app/core/llm_client.py
  reddit_scraper.py
Owners: @yourusername, @team/core

Refactor GPT4Client with improved architecture
  app/core/llm_client.py
Owners: @yourusername, @team/core

Refactor GPT4Client with improved architecture
  app/core/llm_client.py
Owners: @yourusername, @team/core

Add GPT4Client import at top level and remove duplicate import
  reddit_scraper.py
Owners: @yourusername

Add GPT4Client import at top level and remove duplicate import
  reddit_scraper.py
Owners: @yourusername

Implement comprehensive GPT-4 pain point extraction pipeline
  reddit_scraper.py
Owners: @yourusername

Implement comprehensive GPT-4 pain point extraction pipeline
  reddit_scraper.py
Owners: @yourusername

Insert GPT logic at correct location and update metrics calculation
  reddit_scraper.py
Owners: @yourusername

Insert GPT logic at correct location and update metrics calculation
  reddit_scraper.py
Owners: @yourusername

Move metrics logging inside post processing loop
  reddit_scraper.py
Owners: @yourusername

Move metrics logging inside post processing loop
  reddit_scraper.py
Owners: @yourusername

Fix pain point accumulation and add robust error handling
  reddit_scraper.py
Owners: @yourusername

Fix pain point accumulation and add robust error handling
  reddit_scraper.py
Owners: @yourusername

Add email automation and LLM retry reliability enhancements
  app/core/llm_client.py
  app/utils/email_utils.py
  reddit_scraper.py
Owners: @yourusername, @team/core

Add email automation and LLM retry reliability enhancements
  app/core/llm_client.py
  app/utils/email_utils.py
  reddit_scraper.py
Owners: @yourusername, @team/core

Implement comprehensive automation and analytics enhancements
  .github/workflows/daily-scraper.yml
  app/utils/analytics.py
  app/utils/query_rotation.py
  reddit_scraper.py
  run.py
Owners: @yourusername, @team/devops

Implement comprehensive automation and analytics enhancements
  .github/workflows/daily-scraper.yml
  app/utils/analytics.py
  app/utils/query_rotation.py
  reddit_scraper.py
  run.py
Owners: @yourusername, @team/devops

Remove duplicate daily_scrape.yml workflow
  .github/workflows/daily_scrape.yml
Owners: @yourusername, @team/devops

Remove duplicate daily_scrape.yml workflow
  .github/workflows/daily_scrape.yml
Owners: @yourusername, @team/devops

Add .env.template with all required environment variables
  .env.template
Owners: @yourusername

Add .env.template with all required environment variables
  .env.template
Owners: @yourusername

Fix duplicate email sends - keep only enhanced analytics email
  reddit_scraper.py
Owners: @yourusername

Fix duplicate email sends - keep only enhanced analytics email
  reddit_scraper.py
Owners: @yourusername

Fix type hints and finalize monetization system
  .env.template
  .github/workflows/weekly-lead-magnet.yml
  .gitignore
  Makefile
  app/core/gemini_client.py
  app/core/pdf_generator.py
  app/core/weekly_analytics.py
  generate_lead_magnet.py
  pyproject.toml
  reddit_scraper.py
  reports/SaaS_Pain_Point_Report_latest.pdf
  reports/weekly_report_latest.json
Owners: @yourusername, @team/devops, @team/core

Fix type hints and finalize monetization system
  .env.template
  .github/workflows/weekly-lead-magnet.yml
  .gitignore
  Makefile
  app/core/gemini_client.py
  app/core/pdf_generator.py
  app/core/weekly_analytics.py
  generate_lead_magnet.py
  pyproject.toml
  reddit_scraper.py
  reports/SaaS_Pain_Point_Report_latest.pdf
  reports/weekly_report_latest.json
Owners: @yourusername, @team/devops, @team/core

Fix CI workflow by updating upload-artifact to v4
  .github/workflows/update_roadmap.yml
Owners: @yourusername, @team/devops

Fix CI workflow by updating upload-artifact to v4
  .github/workflows/update_roadmap.yml
Owners: @yourusername, @team/devops

Update documentation structure and add styling
  docs/adr/README.md
  docs/index.html
  docs/styles.css
  docs/undetected_scraper.md
Owners: @yourusername, @team/docs

Update documentation structure and add styling
  docs/adr/README.md
  docs/index.html
  docs/styles.css
  docs/undetected_scraper.md
Owners: @yourusername, @team/docs
