Repository IgorGanapolsky/agent-web-scraper, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yourusername, @team/core, @team/qa, @team/docs, @team/devops

.github/CODEOWNERS:

# Default owners for everything in the repo
*       @yourusername

# Core code owners
/app/core/            @yourusername @team/core
/tests/               @yourusername @team/qa

# Documentation
/docs/                @yourusername @team/docs
README.md             @yourusername @team/docs
CONTRIBUTING.md       @yourusername @team/docs
CHANGELOG.md          @yourusername @team/docs

# Configuration files
/.github/             @yourusername @team/devops
/Makefile             @yourusername @team/devops
/requirements*.txt    @yourusername @team/devops

fix: clean up imports and fix connect_sheet function
  reddit_scraper.py
Owners: @yourusername

fix: clean up imports and fix connect_sheet function
  reddit_scraper.py
Owners: @yourusername

chore: remove unused config.OPENAI_API_KEY import
  reddit_scraper.py
Owners: @yourusername

chore: remove unused config.OPENAI_API_KEY import
  reddit_scraper.py
Owners: @yourusername

chore: remove unused config.OPENAI_API_KEY import
  reddit_scraper.py
Owners: @yourusername

chore: remove unused config.OPENAI_API_KEY import
  reddit_scraper.py
Owners: @yourusername

chore: coderabbit enhancements
  reddit_scraper.py
Owners: @yourusername

chore: coderabbit enhancements
  reddit_scraper.py
Owners: @yourusername

chore(ci): refactor SonarQube workflow to use dev requirements
  .github/workflows/sonarqube.yml
Owners: @yourusername, @team/devops

chore(ci): refactor SonarQube workflow to use dev requirements
  .github/workflows/sonarqube.yml
Owners: @yourusername, @team/devops

fix: Implement reddit_scraper.py and add missing utility files
  app/utils/__init__.py
  app/utils/env_utils.py
  reddit_scraper.py
  tests/unit/test_reddit_scraper.py
Owners: @yourusername, @team/qa

fix: Implement reddit_scraper.py and add missing utility files
  app/utils/__init__.py
  app/utils/env_utils.py
  reddit_scraper.py
  tests/unit/test_reddit_scraper.py
Owners: @yourusername, @team/qa

fix: Update sonar-project.properties to include reddit_scraper.py
  sonar-project.properties
Owners: @yourusername

fix: Update sonar-project.properties to include reddit_scraper.py
  sonar-project.properties
Owners: @yourusername

fix: Update CI workflow to include reddit_scraper.py in test coverage
  .github/workflows/ci.yml
Owners: @yourusername, @team/devops

fix: Update CI workflow to include reddit_scraper.py in test coverage
  .github/workflows/ci.yml
Owners: @yourusername, @team/devops

fix: Fix linting issues in reddit_scraper.py and tests
  .coverage
  0_Analyze (python).txt
  Analyze (python)/10_Post Checkout repository.txt
  Analyze (python)/11_Complete job.txt
  Analyze (python)/1_Set up job.txt
  Analyze (python)/2_Checkout repository.txt
  Analyze (python)/3_Initialize CodeQL.txt
  Analyze (python)/4_Autobuild.txt
  Analyze (python)/5_Perform CodeQL Analysis.txt
  Analyze (python)/8_Post Perform CodeQL Analysis.txt
  Analyze (python)/9_Post Initialize CodeQL.txt
  Analyze (python)/system.txt
  app/utils/__init__.py
  app/utils/env_utils.py
  config.py
  coverage.xml
  reddit_scraper.py
  tests/unit/test_reddit_scraper.py
  workflow_logs.zip
Owners: @yourusername, @team/qa

fix: Fix linting issues in reddit_scraper.py and tests
  .coverage
  0_Analyze (python).txt
  Analyze (python)/10_Post Checkout repository.txt
  Analyze (python)/11_Complete job.txt
  Analyze (python)/1_Set up job.txt
  Analyze (python)/2_Checkout repository.txt
  Analyze (python)/3_Initialize CodeQL.txt
  Analyze (python)/4_Autobuild.txt
  Analyze (python)/5_Perform CodeQL Analysis.txt
  Analyze (python)/8_Post Perform CodeQL Analysis.txt
  Analyze (python)/9_Post Initialize CodeQL.txt
  Analyze (python)/system.txt
  app/utils/__init__.py
  app/utils/env_utils.py
  config.py
  coverage.xml
  reddit_scraper.py
  tests/unit/test_reddit_scraper.py
  workflow_logs.zip
Owners: @yourusername, @team/qa

fix: Add pytest-asyncio and simplify pytest configuration
  pytest.ini
  requirements-dev.txt
Owners: @yourusername, @team/devops

fix: Add pytest-asyncio and simplify pytest configuration
  pytest.ini
  requirements-dev.txt
Owners: @yourusername, @team/devops

fix: Update reddit_scraper.py to handle shorter comments in tests
  reddit_scraper.py
  tests/unit/test_reddit_scraper.py
Owners: @yourusername, @team/qa

fix: Update reddit_scraper.py to handle shorter comments in tests
  reddit_scraper.py
  tests/unit/test_reddit_scraper.py
Owners: @yourusername, @team/qa

fix: Fix OpenAI client mocking in Reddit scraper tests
  tests/unit/test_reddit_scraper.py
Owners: @yourusername, @team/qa

fix: Fix OpenAI client mocking in Reddit scraper tests
  tests/unit/test_reddit_scraper.py
Owners: @yourusername, @team/qa

fix: Update CI workflows to run only reddit_scraper tests
  .github/workflows/ci.yml
  .github/workflows/sonarqube.yml
Owners: @yourusername, @team/devops

fix: Update CI workflows to run only reddit_scraper tests
  .github/workflows/ci.yml
  .github/workflows/sonarqube.yml
Owners: @yourusername, @team/devops

fix: Format test_reddit_scraper.py with black
  tests/unit/test_reddit_scraper.py
Owners: @yourusername, @team/qa

fix: Format test_reddit_scraper.py with black
  tests/unit/test_reddit_scraper.py
Owners: @yourusername, @team/qa

fix: Update CI workflows and dependencies for reddit_scraper
  .github/workflows/build.yml
  requirements.txt
  sonar-project.properties
Owners: @yourusername, @team/devops

fix: Update CI workflows and dependencies for reddit_scraper
  .github/workflows/build.yml
  requirements.txt
  sonar-project.properties
Owners: @yourusername, @team/devops

fix: Format reddit_scraper.py with black
  reddit_scraper.py
Owners: @yourusername

fix: Format reddit_scraper.py with black
  reddit_scraper.py
Owners: @yourusername

fix: Install serpapi dependency in CI workflows
  .github/workflows/build.yml
  .github/workflows/sonarqube.yml
Owners: @yourusername, @team/devops

fix: Install serpapi dependency in CI workflows
  .github/workflows/build.yml
  .github/workflows/sonarqube.yml
Owners: @yourusername, @team/devops

fix: Add all missing dependencies for tests in CI workflows
  .github/workflows/build.yml
  .github/workflows/sonarqube.yml
Owners: @yourusername, @team/devops

fix: Add all missing dependencies for tests in CI workflows
  .github/workflows/build.yml
  .github/workflows/sonarqube.yml
Owners: @yourusername, @team/devops

fix: Update SonarQube workflow to use SonarCloud GitHub Action
  .github/workflows/sonarqube.yml
Owners: @yourusername, @team/devops

fix: Update SonarQube workflow to use SonarCloud GitHub Action
  .github/workflows/sonarqube.yml
Owners: @yourusername, @team/devops

fix(ci): correct pip upgrade syntax in SonarQube workflow
  .github/workflows/sonarqube.yml
Owners: @yourusername, @team/devops

fix(ci): correct pip upgrade syntax in SonarQube workflow
  .github/workflows/sonarqube.yml
Owners: @yourusername, @team/devops
