Repository IgorGanapolsky/agent-web-scraper, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yourusername, @team/core, @team/qa, @team/docs, @team/devops

🚀 MASSIVE IMPROVEMENT: Test Coverage + Sentry AI + Repository Cleanup
  .gitignore
  app/cli/run.py
  app/config/legacy_config.py
  app/config/payment/payment_config.json
  app/data/templates/outreach_templates.json
  app/observability/sentry_config.py
  app/scrapers/reddit_scraper.py
  data/metrics/metrics-daily.csv
  data/prospects/github_prospects_database.json
  data/prospects/prospects_database.json
  docs/strategy/BMAD_N8N_AUTONOMOUS_SYSTEM.md
  docs/strategy/FIRST_CUSTOMER_ACTION_PLAN.md
  docs/strategy/FOLLOW_UP_STRATEGY.md
  docs/strategy/FREE_SAMPLE_REPORT.md
  docs/strategy/GAMMA_INTEGRATION_STRATEGY.md
  docs/strategy/GITHUB_MARKETING_MASTERPLAN.md
  project-dashboard/kanban.json
  scripts/generate_lead_magnet.py
  scripts/utilities/simple_convert.py
  tests/integration/test_payment_flow.py
  tests/integration/test_sentry.py
  tests/unit/test_cost_tracker.py
Owners: @yourusername, @team/docs, @team/qa

🚀 MASSIVE IMPROVEMENT: Test Coverage + Sentry AI + Repository Cleanup
  .gitignore
  app/cli/run.py
  app/config/legacy_config.py
  app/config/payment/payment_config.json
  app/data/templates/outreach_templates.json
  app/observability/sentry_config.py
  app/scrapers/reddit_scraper.py
  data/metrics/metrics-daily.csv
  data/prospects/github_prospects_database.json
  data/prospects/prospects_database.json
  docs/strategy/BMAD_N8N_AUTONOMOUS_SYSTEM.md
  docs/strategy/FIRST_CUSTOMER_ACTION_PLAN.md
  docs/strategy/FOLLOW_UP_STRATEGY.md
  docs/strategy/FREE_SAMPLE_REPORT.md
  docs/strategy/GAMMA_INTEGRATION_STRATEGY.md
  docs/strategy/GITHUB_MARKETING_MASTERPLAN.md
  project-dashboard/kanban.json
  scripts/generate_lead_magnet.py
  scripts/utilities/simple_convert.py
  tests/integration/test_payment_flow.py
  tests/integration/test_sentry.py
  tests/unit/test_cost_tracker.py
Owners: @yourusername, @team/docs, @team/qa

🚀 MASSIVE IMPROVEMENT: Test Coverage + Sentry AI + Repository Cleanup
  app/core/cost_tracker.py
  app/scrapers/reddit_scraper.py
  app/services/__init__.py
  app/services/payment_service.py
  app/web/__init__.py
  app/web/app.py
  data/usage/api_usage_2025-06.json
  tests/unit/test_reddit_scraper.py
  tests/unit/test_web_app.py
  wiki/Agentic-RAG-System.md
  wiki/Home.md
Owners: @yourusername, @team/core, @team/qa

🚀 MASSIVE IMPROVEMENT: Test Coverage + Sentry AI + Repository Cleanup
  app/core/cost_tracker.py
  app/scrapers/reddit_scraper.py
  app/services/__init__.py
  app/services/payment_service.py
  app/web/__init__.py
  app/web/app.py
  data/usage/api_usage_2025-06.json
  tests/unit/test_reddit_scraper.py
  tests/unit/test_web_app.py
  wiki/Agentic-RAG-System.md
  wiki/Home.md
Owners: @yourusername, @team/core, @team/qa

🏗️ REPOSITORY MODERNIZATION: 2025 Architecture + Organization
  .github/workflows/modern-ci.yml
  JETBRAINS_AIR_BUSINESS_STRATEGY.md
  MCP_AIR_INTEGRATION_STRATEGY.md
  README.md
  app/models/__init__.py
  app/models/api_key.py
  app/models/customer.py
  app/services/api_key_service.py
  app/services/payment_service.py
  app/web/api_auth.py
  app/web/api_endpoints.py
  app/web/stripe_webhook.py
  docs/architecture/MODERN_STACK_2025.md
  docs/development/WIKI_HOME_UPDATE.md
  docs/development/WIKI_TROUBLESHOOT.md
  docs/operations/KANBAN_SETUP.md
  docs/operations/MANUAL_ISSUES_GUIDE.md
  docs/operations/QUICK_KANBAN_FIX.md
  docs/operations/URGENT_CTO_ACTIONS.md
  docs/pricing.html
  docs/strategy/MASTER_AUTONOMOUS_SYSTEM.md
  docs/strategy/ROADMAP_ISSUES.md
  docs/strategy/ULTIMATE_AUTOMATION_SETUP.md
  project-dashboard/github_issues_roadmap.json
  scripts/requirements-scripts.txt
  scripts/setup_dev.py
  wiki/Home.md
Owners: @yourusername, @team/devops, @team/docs

🏗️ REPOSITORY MODERNIZATION: 2025 Architecture + Organization
  .github/workflows/modern-ci.yml
  JETBRAINS_AIR_BUSINESS_STRATEGY.md
  MCP_AIR_INTEGRATION_STRATEGY.md
  README.md
  app/models/__init__.py
  app/models/api_key.py
  app/models/customer.py
  app/services/api_key_service.py
  app/services/payment_service.py
  app/web/api_auth.py
  app/web/api_endpoints.py
  app/web/stripe_webhook.py
  docs/architecture/MODERN_STACK_2025.md
  docs/development/WIKI_HOME_UPDATE.md
  docs/development/WIKI_TROUBLESHOOT.md
  docs/operations/KANBAN_SETUP.md
  docs/operations/MANUAL_ISSUES_GUIDE.md
  docs/operations/QUICK_KANBAN_FIX.md
  docs/operations/URGENT_CTO_ACTIONS.md
  docs/pricing.html
  docs/strategy/MASTER_AUTONOMOUS_SYSTEM.md
  docs/strategy/ROADMAP_ISSUES.md
  docs/strategy/ULTIMATE_AUTOMATION_SETUP.md
  project-dashboard/github_issues_roadmap.json
  scripts/requirements-scripts.txt
  scripts/setup_dev.py
  wiki/Home.md
Owners: @yourusername, @team/devops, @team/docs

📊 UPDATE: Replace Mermaid with professional architecture diagram
  README.md
  docs/architecture/MODERN_STACK_2025.md
Owners: @yourusername, @team/docs

📊 UPDATE: Replace Mermaid with professional architecture diagram
  README.md
  docs/architecture/MODERN_STACK_2025.md
Owners: @yourusername, @team/docs

📚 WIKI: Complete modernization to 2025 architecture
  wiki/Agentic-RAG-System.md
  wiki/Home.md
  wiki/Modern-Stack-2025.md
Owners: @yourusername

📚 WIKI: Complete modernization to 2025 architecture
  wiki/Agentic-RAG-System.md
  wiki/Home.md
  wiki/Modern-Stack-2025.md
Owners: @yourusername

🔧 FIX: Resolve linting issues in Stripe integration
  app/api/__init__.py
  app/api/checkout.py
  app/api/webhooks.py
  app/models/customer.py
  app/services/stripe_checkout_service.py
  app/web/stripe_webhook.py
Owners: @yourusername

🔧 FIX: Resolve linting issues in Stripe integration
  app/api/__init__.py
  app/api/checkout.py
  app/api/webhooks.py
  app/models/customer.py
  app/services/stripe_checkout_service.py
  app/web/stripe_webhook.py
Owners: @yourusername

🚀 COMPLETE: Dagger.io CI/CD integration for revenue-protected deployments
  .github/workflows/dagger-ci.yml
  README.md
  dagger.json
  dagger/main.py
  dagger/requirements.txt
  docs/deployment/dagger-pipeline.md
  scripts/setup_dagger.sh
  wiki/Dagger-CI-CD-Pipeline.md
  wiki/Home.md
  wiki/Modern-Stack-2025.md
Owners: @yourusername, @team/devops, @team/docs

🚀 COMPLETE: Dagger.io CI/CD integration for revenue-protected deployments
  .github/workflows/dagger-ci.yml
  README.md
  dagger.json
  dagger/main.py
  dagger/requirements.txt
  docs/deployment/dagger-pipeline.md
  scripts/setup_dagger.sh
  wiki/Dagger-CI-CD-Pipeline.md
  wiki/Home.md
  wiki/Modern-Stack-2025.md
Owners: @yourusername, @team/devops, @team/docs

🔧 FIX: Replace missing architecture diagram with ASCII diagrams
  README.md
  wiki/Agentic-RAG-System.md
  wiki/Modern-Stack-2025.md
Owners: @yourusername, @team/docs

🔧 FIX: Replace missing architecture diagram with ASCII diagrams
  README.md
  wiki/Agentic-RAG-System.md
  wiki/Modern-Stack-2025.md
Owners: @yourusername, @team/docs

🚀 Complete MCP Server Implementation: Stripe + Dashboard + Trial Automation
  .env.template
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/kanban-milestone-automation.yml
  .github/workflows/sonarqube.yml
  .github/workflows/support_insight_report.yml
  .github/workflows/trial-conversion-automation.yml
  .pre-commit-config.yaml
  app/__init__.py
  app/api/auth.py
  app/api/mcp_endpoints.py
  app/api/stripe_webhooks.py
  app/config/minimal_logging.py
  app/config/safe_logger.py
  app/config/simple_logger.py
  app/core/google_api.py
  app/core/indeed_scraper.py
  app/mcp/__init__.py
  app/mcp/dashboard_server.py
  app/mcp/stripe_server.py
  app/ui/__init__.py
  app/ui/enhanced_google_scraper.py
  app/ui/undetected_scraper.py
  coverage.xml
  data/prospects/github_prospects_database.json
  data/usage/api_usage_2025-06.json
  reports/insight_daily_2025-05-27.md
  reports/insight_daily_2025-05-28.md
  reports/insight_daily_2025-05-29.md
  reports/insight_daily_2025-05-30.md
  reports/insight_daily_2025-05-31.md
  reports/insight_daily_2025-06-02.md
  reports/insight_daily_2025-06-03.md
  reports/insight_daily_2025-06-04.md
  tests/integration/test_sentry.py
  tests/unit/test_example.py
  tests/unit/test_undetected_scraper.py
  wiki/Home.md
  wiki/Investment-Thesis.md
  wiki/Revenue-Model-&-Metrics.md
Owners: @yourusername, @team/devops, @team/core, @team/qa

🚀 Complete MCP Server Implementation: Stripe + Dashboard + Trial Automation
  .env.template
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/kanban-milestone-automation.yml
  .github/workflows/sonarqube.yml
  .github/workflows/support_insight_report.yml
  .github/workflows/trial-conversion-automation.yml
  .pre-commit-config.yaml
  app/__init__.py
  app/api/auth.py
  app/api/mcp_endpoints.py
  app/api/stripe_webhooks.py
  app/config/minimal_logging.py
  app/config/safe_logger.py
  app/config/simple_logger.py
  app/core/google_api.py
  app/core/indeed_scraper.py
  app/mcp/__init__.py
  app/mcp/dashboard_server.py
  app/mcp/stripe_server.py
  app/ui/__init__.py
  app/ui/enhanced_google_scraper.py
  app/ui/undetected_scraper.py
  coverage.xml
  data/prospects/github_prospects_database.json
  data/usage/api_usage_2025-06.json
  reports/insight_daily_2025-05-27.md
  reports/insight_daily_2025-05-28.md
  reports/insight_daily_2025-05-29.md
  reports/insight_daily_2025-05-30.md
  reports/insight_daily_2025-05-31.md
  reports/insight_daily_2025-06-02.md
  reports/insight_daily_2025-06-03.md
  reports/insight_daily_2025-06-04.md
  tests/integration/test_sentry.py
  tests/unit/test_example.py
  tests/unit/test_undetected_scraper.py
  wiki/Home.md
  wiki/Investment-Thesis.md
  wiki/Revenue-Model-&-Metrics.md
Owners: @yourusername, @team/devops, @team/core, @team/qa

add: AI Coordination Stack Documentation
  .github/workflows/daily-mcp-reporting.yml
  app/data/templates/checkout_success.html
  app/data/templates/pricing.html
  app/data/templates/trial_started.html
  app/utils/github_tracker.py
  app/utils/slack_reporter.py
  app/web/app.py
  app/web/stripe_funnel.py
  docs/agents.md
  docs/architecture.md
Owners: @yourusername, @team/devops, @team/docs

add: AI Coordination Stack Documentation
  .github/workflows/daily-mcp-reporting.yml
  app/data/templates/checkout_success.html
  app/data/templates/pricing.html
  app/data/templates/trial_started.html
  app/utils/github_tracker.py
  app/utils/slack_reporter.py
  app/web/app.py
  app/web/stripe_funnel.py
  docs/agents.md
  docs/architecture.md
Owners: @yourusername, @team/devops, @team/docs

.github/CODEOWNERS:

# Default owners for everything in the repo
*       @yourusername

# Core code owners
/app/core/            @yourusername @team/core
/tests/               @yourusername @team/qa

# Documentation
/docs/                @yourusername @team/docs
README.md             @yourusername @team/docs
CONTRIBUTING.md       @yourusername @team/docs
CHANGELOG.md          @yourusername @team/docs

# Configuration files
/.github/             @yourusername @team/devops
/Makefile             @yourusername @team/devops
/requirements*.txt    @yourusername @team/devops
