Repository IgorGanapolsky/agent-web-scraper, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yourusername, @team/core, @team/qa, @team/docs, @team/devops

.github/CODEOWNERS:

# Default owners for everything in the repo
*       @yourusername

# Core code owners
/app/core/            @yourusername @team/core
/tests/               @yourusername @team/qa

# Documentation
/docs/                @yourusername @team/docs
README.md             @yourusername @team/docs
CONTRIBUTING.md       @yourusername @team/docs
CHANGELOG.md          @yourusername @team/docs

# Configuration files
/.github/             @yourusername @team/devops
/Makefile             @yourusername @team/devops
/requirements*.txt    @yourusername @team/devops

Sonar fixes
  .github/workflows/sonarqube.yml
Owners: @yourusername, @team/devops

Sonar fixes
  .github/workflows/sonarqube.yml
Owners: @yourusername, @team/devops

Sonar fixes
  .github/workflows/sonarqube.yml
Owners: @yourusername, @team/devops

Sonar fixes
  .github/workflows/sonarqube.yml
Owners: @yourusername, @team/devops

Sonar fixes
  .github/workflows/sonarqube.yml
Owners: @yourusername, @team/devops

Sonar fixes
  .github/workflows/sonarqube.yml
Owners: @yourusername, @team/devops

Sonar fixes
  .github/workflows/sonarqube.yml
Owners: @yourusername, @team/devops

Sonar fixes
  .github/workflows/sonarqube.yml
Owners: @yourusername, @team/devops

Sonar fixes
  .github/workflows/sonarqube.yml
Owners: @yourusername, @team/devops

Sonar fixes
  .github/workflows/sonarqube.yml
Owners: @yourusername, @team/devops

Coverage fix
  .github/workflows/sonarqube.yml
Owners: @yourusername, @team/devops

Coverage fix
  .github/workflows/sonarqube.yml
Owners: @yourusername, @team/devops

fix
  .github/workflows/sonarqube.yml
Owners: @yourusername, @team/devops

fix
  .github/workflows/sonarqube.yml
Owners: @yourusername, @team/devops

fix(ci): unify SonarQube workflow and improve test coverage
  .github/workflows/sonarqube.yml
Owners: @yourusername, @team/devops

fix(ci): unify SonarQube workflow and improve test coverage
  .github/workflows/sonarqube.yml
Owners: @yourusername, @team/devops

fix(ci): unify SonarQube workflow and improve test coverage
  .github/workflows/sonarqube.yml
Owners: @yourusername, @team/devops

fix(ci): unify SonarQube workflow and improve test coverage
  .github/workflows/sonarqube.yml
Owners: @yourusername, @team/devops

fix(ci): unify SonarQube workflow and improve test coverage
  .github/workflows/sonarqube.yml
Owners: @yourusername, @team/devops

fix(ci): unify SonarQube workflow and improve test coverage
  .github/workflows/sonarqube.yml
Owners: @yourusername, @team/devops

Fixes
  .claude/settings.local.json
  .coverage
  .github/workflows/build.yml
  coverage.xml
Owners: @yourusername, @team/devops

Fixes
  .claude/settings.local.json
  .coverage
  .github/workflows/build.yml
  coverage.xml
Owners: @yourusername, @team/devops

Fixes
  .coverage
  coverage.xml
  tests/unit/test_reddit_scraper.py
Owners: @yourusername, @team/qa

Fixes
  .coverage
  coverage.xml
  tests/unit/test_reddit_scraper.py
Owners: @yourusername, @team/qa

More workflow changes
  .github/workflows/daily_scrape.yml
Owners: @yourusername, @team/devops

More workflow changes
  .github/workflows/daily_scrape.yml
Owners: @yourusername, @team/devops

Format update_diagram.py via black + isort (pre-commit cleanup)
  .github/workflows/update_roadmap.yml
  0_Analyze (python).txt
  Analyze (python)/10_Post Checkout repository.txt
  Analyze (python)/11_Complete job.txt
  Analyze (python)/1_Set up job.txt
  Analyze (python)/2_Checkout repository.txt
  Analyze (python)/3_Initialize CodeQL.txt
  Analyze (python)/4_Autobuild.txt
  Analyze (python)/5_Perform CodeQL Analysis.txt
  Analyze (python)/8_Post Perform CodeQL Analysis.txt
  Analyze (python)/9_Post Initialize CodeQL.txt
  Analyze (python)/system.txt
  README.md
  docs/ai-business-roadmap.png
  project-dashboard/ai-business-roadmap-2025-05-29.png
  project-dashboard/kanban.json
  project-dashboard/update_diagram.py
  requirements.txt
  workflow_logs.zip
Owners: @yourusername, @team/devops, @team/docs

Format update_diagram.py via black + isort (pre-commit cleanup)
  .github/workflows/update_roadmap.yml
  0_Analyze (python).txt
  Analyze (python)/10_Post Checkout repository.txt
  Analyze (python)/11_Complete job.txt
  Analyze (python)/1_Set up job.txt
  Analyze (python)/2_Checkout repository.txt
  Analyze (python)/3_Initialize CodeQL.txt
  Analyze (python)/4_Autobuild.txt
  Analyze (python)/5_Perform CodeQL Analysis.txt
  Analyze (python)/8_Post Perform CodeQL Analysis.txt
  Analyze (python)/9_Post Initialize CodeQL.txt
  Analyze (python)/system.txt
  README.md
  docs/ai-business-roadmap.png
  project-dashboard/ai-business-roadmap-2025-05-29.png
  project-dashboard/kanban.json
  project-dashboard/update_diagram.py
  requirements.txt
  workflow_logs.zip
Owners: @yourusername, @team/devops, @team/docs

Refactor project to modern Python packaging and clean up repo
  .claude/settings.local.json
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  Makefile
  README.md
  app/__init__.py
  app/cli/__init__.py
  app/cli/main.py
  app/config/__init__.py
  app/config/safe_logger.py
  app/config/settings.py
  app/core/__init__.py
  app/observability/__init__.py
  app/utils/__init__.py
  app/web/__init__.py
  config.py
  pyproject.toml
  pytest.ini
  requirements-dev.txt
  requirements.txt
  setup.py
  setup_dev.py
  tests/__init__.py
Owners: @yourusername, @team/devops, @team/docs, @team/core, @team/qa

Refactor project to modern Python packaging and clean up repo
  .claude/settings.local.json
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  Makefile
  README.md
  app/__init__.py
  app/cli/__init__.py
  app/cli/main.py
  app/config/__init__.py
  app/config/safe_logger.py
  app/config/settings.py
  app/core/__init__.py
  app/observability/__init__.py
  app/utils/__init__.py
  app/web/__init__.py
  config.py
  pyproject.toml
  pytest.ini
  requirements-dev.txt
  requirements.txt
  setup.py
  setup_dev.py
  tests/__init__.py
Owners: @yourusername, @team/devops, @team/docs, @team/core, @team/qa

Fix pre-commit hooks and code quality issues
  .claude/settings.local.json
  .github/workflows/build.yml
  .gitignore
  .pre-commit-config.yaml
  app/cli/costs.py
  app/config/logging.py
  app/config/minimal_logging.py
  app/config/safe_logger.py
  app/config/simple_logger.py
  app/core/cost_tracker.py
  app/core/scraper.py
  app/core/undetected_scraper.py
  app/core/utils/audit.py
  app/core/utils/performance.py
  app/observability/__init__.py
  app/ui/enhanced_google_scraper.py
  app/ui/undetected_scraper.py
  app/utils/env_utils.py
  app/utils/port_utils.py
  app/web/app.py
  docs/serpapi_costs.md
  docs/undetected_scraper.md
  pyproject.toml
  reddit_scraper.py
  run.py
  scripts/cleanup_logs.py
  scripts/setup_logging.py
  sonar-project.properties
  test_sentry.py
  tests/unit/test_base_scraper.py
  tests/unit/test_reddit_scraper.py
  tests/unit/test_scraper.py
  tests/unit/test_scraper_new.py
  tests/unit/test_web_app.py
Owners: @yourusername, @team/devops, @team/core, @team/docs, @team/qa

Fix pre-commit hooks and code quality issues
  .claude/settings.local.json
  .github/workflows/build.yml
  .gitignore
  .pre-commit-config.yaml
  app/cli/costs.py
  app/config/logging.py
  app/config/minimal_logging.py
  app/config/safe_logger.py
  app/config/simple_logger.py
  app/core/cost_tracker.py
  app/core/scraper.py
  app/core/undetected_scraper.py
  app/core/utils/audit.py
  app/core/utils/performance.py
  app/observability/__init__.py
  app/ui/enhanced_google_scraper.py
  app/ui/undetected_scraper.py
  app/utils/env_utils.py
  app/utils/port_utils.py
  app/web/app.py
  docs/serpapi_costs.md
  docs/undetected_scraper.md
  pyproject.toml
  reddit_scraper.py
  run.py
  scripts/cleanup_logs.py
  scripts/setup_logging.py
  sonar-project.properties
  test_sentry.py
  tests/conftest.py
  tests/unit/test_base_scraper.py
  tests/unit/test_reddit_scraper.py
  tests/unit/test_scraper.py
  tests/unit/test_scraper_new.py
  tests/unit/test_web_app.py
Owners: @yourusername, @team/devops, @team/core, @team/docs, @team/qa

Test commit to verify pre-commit hooks
  test_file.py
Owners: @yourusername

Test commit to verify pre-commit hooks
  test_file.py
Owners: @yourusername

Remove test file
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/sonarqube.yml
  README.md
  test_file.py
Owners: @yourusername, @team/devops, @team/docs

Remove test file
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/sonarqube.yml
  README.md
  test_file.py
Owners: @yourusername, @team/devops, @team/docs

Add daily metrics tracking CSV file
  README.md
  metrics-daily.csv
Owners: @yourusername, @team/docs

Add daily metrics tracking CSV file
  README.md
  metrics-daily.csv
Owners: @yourusername, @team/docs

Replace Streamlit with Reddit scraper for development server
  .env.template
  app/web/__init__.py
  app/web/app.py
  pyproject.toml
  reddit_scraper.py
  run.py
  scripts/cleanup_logs.py
  scripts/setup_logging.py
Owners: @yourusername

Replace Streamlit with Reddit scraper for development server
  .env.template
  app/web/__init__.py
  app/web/app.py
  pyproject.toml
  reddit_scraper.py
  run.py
  scripts/cleanup_logs.py
  scripts/setup_logging.py
Owners: @yourusername
