Repository IgorGanapolsky/agent-web-scraper, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yourusername, @team/core, @team/qa, @team/docs, @team/devops

.github/CODEOWNERS:

# Default owners for everything in the repo
*       @yourusername

# Core code owners
/app/core/            @yourusername @team/core
/tests/               @yourusername @team/qa

# Documentation
/docs/                @yourusername @team/docs
README.md             @yourusername @team/docs
CONTRIBUTING.md       @yourusername @team/docs
CHANGELOG.md          @yourusername @team/docs

# Configuration files
/.github/             @yourusername @team/devops
/Makefile             @yourusername @team/devops
/requirements*.txt    @yourusername @team/devops

chore: Remove PDF generation and API server references
  README.md
  app/web/app.py
  requirements.txt
Owners: @yourusername, @team/docs, @team/devops

chore: Remove PDF generation and API server references
  README.md
  app/web/app.py
  requirements.txt
Owners: @yourusername, @team/docs, @team/devops

chore: Add service account credentials to gitignore
  .gitignore
Owners: @yourusername

chore: Add service account credentials to gitignore
  .gitignore
Owners: @yourusername

refactor: Remove Google Sheets functionality
  app/core/google_sheets/__init__.py
  app/core/google_sheets/sheets.py
  tests/unit/test_google_sheets.py
Owners: @yourusername, @team/core, @team/qa

refactor: Remove Google Sheets functionality
  app/core/google_sheets/__init__.py
  app/core/google_sheets/sheets.py
  tests/unit/test_google_sheets.py
Owners: @yourusername, @team/core, @team/qa

chore: stage changes before history rewrite for secret removal
  .gitignore
Owners: @yourusername

chore: stage changes before history rewrite for secret removal
  .gitignore
Owners: @yourusername

Update build ci/cd files
  .github/workflows/build.yml
  sonar-project.properties
Owners: @yourusername, @team/devops

Update build ci/cd files
  .github/workflows/build.yml
  sonar-project.properties
Owners: @yourusername, @team/devops

Chore: Apply auto-formatting (black, isort) via pre-commit
  app/config/logging.py
  app/core/cost_tracker.py
  app/core/scraper.py
  app/web/app.py
  requirements-dev.txt
  tests/unit/test_base_scraper.py
  tests/unit/test_scraper.py
  tests/unit/test_scraper_new.py
Owners: @yourusername, @team/core, @team/devops, @team/qa

Chore: Apply auto-formatting (black, isort) via pre-commit
  app/config/logging.py
  app/core/cost_tracker.py
  app/core/scraper.py
  app/web/app.py
  requirements-dev.txt
  tests/unit/test_base_scraper.py
  tests/unit/test_scraper.py
  tests/unit/test_scraper_new.py
Owners: @yourusername, @team/core, @team/devops, @team/qa

feat: Implement on-demand log rotation for app.log
  .pre-commit-config.yaml
  app/__init__.py
  app/cli/costs.py
  app/config/__init__.py
  app/config/logging.py
  app/config/safe_logger.py
  app/core/__init__.py
  app/core/cost_tracker.py
  app/core/scraper.py
  app/core/undetected_scraper.py
  app/ui/__init__.py
  app/ui/enhanced_google_scraper.py
  app/ui/undetected_scraper.py
  app/utils/port_utils.py
  app/web/app.py
  logs/app.log.1
  run.py
  scripts/cleanup_logs.py
  scripts/setup_logging.py
  test_sentry.py
  tests/unit/test_scraper.py
  tests/unit/test_scraper_new.py
  tests/unit/test_web_app.py
Owners: @yourusername, @team/core, @team/qa

feat: Implement on-demand log rotation for app.log
  .pre-commit-config.yaml
  app/__init__.py
  app/cli/costs.py
  app/config/__init__.py
  app/config/logging.py
  app/config/safe_logger.py
  app/core/__init__.py
  app/core/cost_tracker.py
  app/core/scraper.py
  app/core/undetected_scraper.py
  app/ui/__init__.py
  app/ui/enhanced_google_scraper.py
  app/ui/undetected_scraper.py
  app/utils/port_utils.py
  app/web/app.py
  logs/app.log.1
  run.py
  scripts/cleanup_logs.py
  scripts/setup_logging.py
  test_sentry.py
  tests/conftest.py
  tests/unit/test_scraper.py
  tests/unit/test_scraper_new.py
  tests/unit/test_web_app.py
Owners: @yourusername, @team/core, @team/qa

ci: Configure Python CI to run only on Python 3.11
  .github/workflows/ci.yml
Owners: @yourusername, @team/devops

ci: Configure Python CI to run only on Python 3.11
  .github/workflows/ci.yml
Owners: @yourusername, @team/devops

Fix pre-commit issues for Reddit scraper
  .gitignore
  .idea/agent-web-scraper.iml
  config.py
  reddit_scraper.py
Owners: @yourusername

Fix pre-commit issues for Reddit scraper
  .gitignore
  .idea/agent-web-scraper.iml
  config.py
  reddit_scraper.py
Owners: @yourusername

Fix: Add pytest_asyncio to test dependencies
  requirements.txt
Owners: @yourusername, @team/devops

Fix: Add pytest_asyncio to test dependencies
  requirements.txt
Owners: @yourusername, @team/devops

Fix: sonarqube
  .github/workflows/sonarqube.yml
Owners: @yourusername, @team/devops

Fix: sonarqube
  .github/workflows/sonarqube.yml
Owners: @yourusername, @team/devops

Update config.py
  config.py
Owners: @yourusername

Update config.py
  config.py
Owners: @yourusername

Update reddit_scraper.py
  reddit_scraper.py
Owners: @yourusername

Update reddit_scraper.py
  reddit_scraper.py
Owners: @yourusername

Update reddit_scraper.py
  reddit_scraper.py
Owners: @yourusername

Update reddit_scraper.py
  reddit_scraper.py
Owners: @yourusername

Update reddit_scraper.py
  reddit_scraper.py
Owners: @yourusername

Update reddit_scraper.py
  reddit_scraper.py
Owners: @yourusername

chore: remove .idea directory from version control and add to .gitignore
  .idea/.gitignore
  .idea/agent-web-scraper.iml
  .idea/inspectionProfiles/profiles_settings.xml
  .idea/modules.xml
  .idea/vcs.xml
Owners: @yourusername

chore: remove .idea directory from version control and add to .gitignore
  .idea/.gitignore
  .idea/agent-web-scraper.iml
  .idea/inspectionProfiles/profiles_settings.xml
  .idea/modules.xml
  .idea/vcs.xml
Owners: @yourusername

Update reddit_scraper.py
  reddit_scraper.py
Owners: @yourusername

Update reddit_scraper.py
  reddit_scraper.py
Owners: @yourusername

Update reddit_scraper.py
  reddit_scraper.py
Owners: @yourusername

Update reddit_scraper.py
  reddit_scraper.py
Owners: @yourusername

Update reddit_scraper.py
  reddit_scraper.py
Owners: @yourusername

Update reddit_scraper.py
  reddit_scraper.py
Owners: @yourusername

Update reddit_scraper.py
  reddit_scraper.py
Owners: @yourusername

Update reddit_scraper.py
  reddit_scraper.py
Owners: @yourusername
