Repository IgorGanapolsky/agent-web-scraper, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yourusername, @team/core, @team/qa, @team/docs, @team/devops

.github/CODEOWNERS:

# Default owners for everything in the repo
*       @yourusername

# Core code owners
/app/core/            @yourusername @team/core
/tests/               @yourusername @team/qa

# Documentation
/docs/                @yourusername @team/docs
README.md             @yourusername @team/docs
CONTRIBUTING.md       @yourusername @team/docs
CHANGELOG.md          @yourusername @team/docs

# Configuration files
/.github/             @yourusername @team/devops
/Makefile             @yourusername @team/devops
/requirements*.txt    @yourusername @team/devops

Improve GitHub Pages styling with professional design
  docs/index.html
  docs/styles.css
Owners: @yourusername, @team/docs

Improve GitHub Pages styling with professional design
  docs/index.html
  docs/styles.css
Owners: @yourusername, @team/docs

Complete 2025 SaaS landing page redesign with hero dashboard integration
  docs/dashboard-2.png
  docs/hero-dashboard.png
  docs/index.html
  docs/styles.css
Owners: @yourusername, @team/docs

Complete 2025 SaaS landing page redesign with hero dashboard integration
  docs/dashboard-2.png
  docs/hero-dashboard.png
  docs/index.html
  docs/styles.css
Owners: @yourusername, @team/docs

Add Q2 2025 SaaS pain point report and update analytics data
  metrics-daily.csv
  reports/Q2_2025_SaaS_Pain_Point_Report.md
  reports/SaaS_Pain_Point_Report_latest.pdf
  reports/weekly_report_latest.json
Owners: @yourusername

Add Q2 2025 SaaS pain point report and update analytics data
  metrics-daily.csv
  reports/Q2_2025_SaaS_Pain_Point_Report.md
  reports/SaaS_Pain_Point_Report_latest.pdf
  reports/weekly_report_latest.json
Owners: @yourusername

Add bonus CTA section with AI product interview script
  .env.template
  docs/index.html
  docs/styles.css
Owners: @yourusername, @team/docs

Add bonus CTA section with AI product interview script
  .env.template
  docs/index.html
  docs/styles.css
Owners: @yourusername, @team/docs

Update Q2 2025 SaaS Pain Point Report with June 2 insights
  docs/assets/hero-dashboard.png
  docs/index.html
  reports/Q2_2025_SaaS_Pain_Point_Report.md
Owners: @yourusername, @team/docs

Update Q2 2025 SaaS Pain Point Report with June 2 insights
  docs/assets/hero-dashboard.png
  docs/index.html
  reports/Q2_2025_SaaS_Pain_Point_Report.md
Owners: @yourusername, @team/docs

Add GitHub Issues roadmap and modern architecture diagram
  ROADMAP_ISSUES.md
  docs/assets/architecture-2025.png
  docs/assets/architecture-2025.svg
Owners: @yourusername, @team/docs

Add GitHub Issues roadmap and modern architecture diagram
  ROADMAP_ISSUES.md
  docs/assets/architecture-2025.png
  docs/assets/architecture-2025.svg
Owners: @yourusername, @team/docs

Fix README architecture diagram display
  README.md
  WIKI_HOME_UPDATE.md
  WIKI_TROUBLESHOOT.md
  docs/assets/architecture-2025.png
  docs/assets/architecture-2025.svg
  simple_convert.py
Owners: @yourusername, @team/docs

Fix README architecture diagram display
  README.md
  WIKI_HOME_UPDATE.md
  WIKI_TROUBLESHOOT.md
  docs/assets/architecture-2025.png
  docs/assets/architecture-2025.svg
  simple_convert.py
Owners: @yourusername, @team/docs

Add GitHub Issues automation script
  .env.template
  docs/assets/architecture-2025.svg
  requirements-scripts.txt
  scripts/README.md
  scripts/populate_github_kanban.py
Owners: @yourusername, @team/docs, @team/devops

Add GitHub Issues automation script
  .env.template
  docs/assets/architecture-2025.svg
  requirements-scripts.txt
  scripts/README.md
  scripts/populate_github_kanban.py
Owners: @yourusername, @team/docs, @team/devops

Add referral CTA to SaaS Pain Point Report
  MANUAL_ISSUES_GUIDE.md
  reports/Q2_2025_SaaS_Pain_Point_Report.md
  reports/SaaS_Pain_Point_Report_latest.pdf
  scripts/create_issues_bulk.py
  scripts/github_web_automation.py
Owners: @yourusername

Add referral CTA to SaaS Pain Point Report
  MANUAL_ISSUES_GUIDE.md
  reports/Q2_2025_SaaS_Pain_Point_Report.md
  reports/SaaS_Pain_Point_Report_latest.pdf
  scripts/create_issues_bulk.py
  scripts/github_web_automation.py
Owners: @yourusername

Add comprehensive GitHub issues creation automation toolkit
  github_issues_roadmap.json
  scripts/create_github_issues.py
  scripts/github_web_automation.py
Owners: @yourusername

Add comprehensive GitHub issues creation automation toolkit
  github_issues_roadmap.json
  scripts/create_github_issues.py
  scripts/github_web_automation.py
Owners: @yourusername

Add complete daily AI insight automation pipeline
  .github/workflows/insight_report.yml
  reports/insight_daily_2025-06-03.md
  scripts/create_insight_issue.py
  scripts/generate_insight.py
  scripts/init_roadmap.py
Owners: @yourusername, @team/devops

Add complete daily AI insight automation pipeline
  .github/workflows/insight_report.yml
  reports/insight_daily_2025-06-03.md
  scripts/create_insight_issue.py
  scripts/generate_insight.py
  scripts/init_roadmap.py
Owners: @yourusername, @team/devops

Add comprehensive 7-day SaaS metrics data for full automation
  metrics-daily.csv
  reports/insight_daily_2025-06-03.md
Owners: @yourusername

Add comprehensive 7-day SaaS metrics data for full automation
  metrics-daily.csv
  reports/insight_daily_2025-06-03.md
Owners: @yourusername

Add AI-powered competitive advantage section and DataForSEO integration
  docs/index.html
  docs/styles.css
  reports/seo_opportunity_report_2025-06-03.md
  scripts/dataforseo_analyzer.py
Owners: @yourusername, @team/docs

Add AI-powered competitive advantage section and DataForSEO integration
  docs/index.html
  docs/styles.css
  reports/seo_opportunity_report_2025-06-03.md
  scripts/dataforseo_analyzer.py
Owners: @yourusername, @team/docs

Final formatting fix
  .github/workflows/email_and_publish.yml
  .github/workflows/publish_blog.yml
  .github/workflows/publish_content.yml
  .github/workflows/support_insight_report.yml
  .github/workflows/sync-kanban-board.yml
  .github/workflows/weekly_digest.yml
  KANBAN_SETUP.md
  QUICK_KANBAN_FIX.md
  ULTIMATE_AUTOMATION_SETUP.md
  metrics-daily.csv
  reports/insight_daily_2025-05-27.md
  reports/insight_daily_2025-05-28.md
  reports/insight_daily_2025-05-29.md
  reports/insight_daily_2025-05-30.md
  reports/insight_daily_2025-05-31.md
  reports/insight_daily_2025-06-01.md
  reports/insight_daily_2025-06-02.md
  requirements-scripts.txt
  scripts/auto_organize_kanban.py
  scripts/enhanced_kanban_sync.py
  scripts/generate_affiliate_ctas.py
  scripts/generate_insight.py
  scripts/publish_substack_post.py
  scripts/publish_to_linkedin.py
  scripts/publish_to_tiktok.py
  scripts/publish_to_twitter.py
  scripts/send_email_report.py
  scripts/serpapi_analysis.py
  scripts/simple_kanban_auto.py
  scripts/summarize_weekly_reports.py
  scripts/test_kanban_automation.py
  scripts/ultimate_kanban_automation.py
Owners: @yourusername, @team/devops

Final formatting fix
  .github/workflows/email_and_publish.yml
  .github/workflows/publish_blog.yml
  .github/workflows/publish_content.yml
  .github/workflows/support_insight_report.yml
  .github/workflows/sync-kanban-board.yml
  .github/workflows/weekly_digest.yml
  KANBAN_SETUP.md
  QUICK_KANBAN_FIX.md
  ULTIMATE_AUTOMATION_SETUP.md
  metrics-daily.csv
  reports/insight_daily_2025-05-27.md
  reports/insight_daily_2025-05-28.md
  reports/insight_daily_2025-05-29.md
  reports/insight_daily_2025-05-30.md
  reports/insight_daily_2025-05-31.md
  reports/insight_daily_2025-06-01.md
  reports/insight_daily_2025-06-02.md
  requirements-scripts.txt
  scripts/auto_organize_kanban.py
  scripts/enhanced_kanban_sync.py
  scripts/generate_affiliate_ctas.py
  scripts/generate_insight.py
  scripts/publish_substack_post.py
  scripts/publish_to_linkedin.py
  scripts/publish_to_tiktok.py
  scripts/publish_to_twitter.py
  scripts/send_email_report.py
  scripts/serpapi_analysis.py
  scripts/simple_kanban_auto.py
  scripts/summarize_weekly_reports.py
  scripts/test_kanban_automation.py
  scripts/ultimate_kanban_automation.py
Owners: @yourusername, @team/devops

Fix linting issues in revenue engine setup
  FIRST_CUSTOMER_ACTION_PLAN.md
  URGENT_CTO_ACTIONS.md
  outreach_templates.json
  payment_config.json
  pricing.html
  scripts/setup_stripe_payments.py
  scripts/simple_kanban_auto.py
Owners: @yourusername

Fix linting issues in revenue engine setup
  FIRST_CUSTOMER_ACTION_PLAN.md
  URGENT_CTO_ACTIONS.md
  outreach_templates.json
  payment_config.json
  pricing.html
  scripts/setup_stripe_payments.py
  scripts/simple_kanban_auto.py
Owners: @yourusername

Customer conversion tools ready
  FOLLOW_UP_STRATEGY.md
  FREE_SAMPLE_REPORT.md
  reports/insight_daily_2025-06-04.md
Owners: @yourusername

Customer conversion tools ready
  FOLLOW_UP_STRATEGY.md
  FREE_SAMPLE_REPORT.md
  reports/insight_daily_2025-06-04.md
Owners: @yourusername

🤖 Complete Autonomous Business System - BMAD + n8n + Gamma
  .github/workflows/autonomous_revenue_engine.yml
  BMAD_N8N_AUTONOMOUS_SYSTEM.md
  GAMMA_INTEGRATION_STRATEGY.md
  MASTER_AUTONOMOUS_SYSTEM.md
  prospects_database.json
  scripts/autonomous_business_system.py
Owners: @yourusername, @team/devops

🤖 Complete Autonomous Business System - BMAD + n8n + Gamma
  .github/workflows/autonomous_revenue_engine.yml
  BMAD_N8N_AUTONOMOUS_SYSTEM.md
  GAMMA_INTEGRATION_STRATEGY.md
  MASTER_AUTONOMOUS_SYSTEM.md
  prospects_database.json
  scripts/autonomous_business_system.py
Owners: @yourusername, @team/devops

Revolutionary MCP + JetBrains Air Business System
  .github/workflows/github_marketing_engine.yml
  GITHUB_MARKETING_MASTERPLAN.md
  JETBRAINS_AIR_BUSINESS_STRATEGY.md
  MCP_AIR_INTEGRATION_STRATEGY.md
  github_prospects_database.json
  scripts/github_marketing_automation.py
Owners: @yourusername, @team/devops

Revolutionary MCP + JetBrains Air Business System
  .github/workflows/github_marketing_engine.yml
  GITHUB_MARKETING_MASTERPLAN.md
  JETBRAINS_AIR_BUSINESS_STRATEGY.md
  MCP_AIR_INTEGRATION_STRATEGY.md
  github_prospects_database.json
  scripts/github_marketing_automation.py
Owners: @yourusername, @team/devops

📧 Enhance email automation system with improved date detection and workflow
  .github/workflows/email_and_publish.yml
  scripts/send_email_report.py
Owners: @yourusername, @team/devops

📧 Enhance email automation system with improved date detection and workflow
  .github/workflows/email_and_publish.yml
  scripts/send_email_report.py
Owners: @yourusername, @team/devops

📚 Complete agentic RAG documentation transformation
  README.md
  app/core/knowledge_base.py
  app/core/rag_engine.py
  app/core/vector_store.py
  app/utils/analytics.py
  docs/README.md
  docs/agentic-rag-architecture.md
  docs/api-reference.md
  docs/business-model.md
  docs/deployment-guide.md
  docs/quickstart-guide.md
  pyproject.toml
  scripts/test_agentic_rag.py
Owners: @yourusername, @team/docs, @team/core

📚 Complete agentic RAG documentation transformation
  README.md
  app/core/knowledge_base.py
  app/core/rag_engine.py
  app/core/vector_store.py
  app/utils/analytics.py
  docs/README.md
  docs/agentic-rag-architecture.md
  docs/api-reference.md
  docs/business-model.md
  docs/deployment-guide.md
  docs/quickstart-guide.md
  pyproject.toml
  scripts/test_agentic_rag.py
Owners: @yourusername, @team/docs, @team/core
